<div class="maincontent">
  <article class="article">
    <h1 class="article-title">freeCodeCamp - API Projects</h1>
      <p>Cinquième partie de la 'Back End Development Certification' du programme freeCodeCamp.org, les défis 'API Projects' font appel aux technologies JavaScript Node.js / Express.js, ainsi qu'aux fonctionnalités de bases de données NoSQL de MongoDB.</p>
      <p>Ces exercices sont donc la première opportunité de conjuguer en un site dynamique les compétences acquises dans le parcours du site. 'Front End' et 'Back End' se rejoignent tout en mettant aussi en œuvre les éléments d'algorithmique pratiqués.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">C'est parti !</h1>
    <p>Vous trouverez donc dans ces pages mes tentatives de résolution de ces exercices. Dès leur résolution et leur mise en ligne, les liens suivants sauront vous diriger vers ces propositions que j'espère voir composées sans trop de dommages ou d'incongruités.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Glitch.com et mLab.com</h1>
    <p>Faisant appel à des technologies serveur particulières, les solutions proposées doivent être présentées dans des pages du service glitch.com et faire éventuellement appel au fournisseur de bases de données mLab.com.</p><p>Vous trouverez ci-dessous les liens vers les pages présentant mes travaux. Bonne visite.</p>
    <ul>
      <li>Timestamp Microservice</li>
      <li>Request Header Parser Microservice</li>
      <li>URL Shortener Microservice</li>
      <li>Image Search Abstraction Layer</li>
      <li>File Metadata Microservice</li>
    </ul>
  </article><!-- article -->
</div>
