<aside class="col-md-4">
      <article class="sidebar">
        <h3 class="sidebar-title">Les réponses</h3>
        <p>Le résultat des différentes 'API' de cette page se présentent sous la forme de fichiers au format .json. En testant la fonctionnalité de mes solutions, vous pourrez voir ces fichiers s'afficher ci-dessous.</p>
        <div class="resultats">
          <samp>
            <%= pageApi %>
          </samp>
        </div>
      </article><!-- article -->
    </aside>