<footer class="text-muted">
      <div class="container">
        <row>
          <p class="float-right">
            <a href="#">Haut de page</a>
          </p>
          <p id="apropos"><span class="apropos">À propos </span>Le programme de formation emg/Simplon met en œuvre des ressources en ligne </br>diverses, dont <a href="https://www.freecodecamp.org">freeCodeCamp</a> et <a href="https://www.openclassrooms.com">openClassrooms</a> ('salles de classe ouvertes' ?), </br> pour un apprentissage des technologies et techniques de base de la programmation web.</p>
        </row>
      </div><!-- container -->
    </footer>